/* Universal Fonts */

h1 {
    font-family: 'Bentham', serif;
}

h2 {
    font-family: 'Bentham', serif;
}

/*Universal Styles*/

:root  {
    --bs-primary: #F9A91F;
    --bs-primary-rgb: 249, 169, 31;
    --bs-secondary: #1A1A1D;
    --bs-secondary-rgb: 26, 26, 29;
    --bs-info: #707070;
    --bs-info-rgb: 112, 112, 112; 
  }

button {
    border-color: #F9A91F;
}

.bordercolor {
    border-color: #F9A91F;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.search {
    text-align: center;
}

.logo {
    z-index: 0;
}

/*skip-links*/

.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
  }

.skip-links a{
    position: absolute;
    text-align: center;
    top: -3em;
    color:blue;
    padding: .5em 1em;
    font-weight: bold;
}

.skip-links a:focus{
    top: 0;
}


/* Mobile Styles */


@media (max-width: 576px) {
    
    /*Header*/
    .background {
        background-image: url(../images/pexels-tirachard-kumtanom-450055.jpg);
        background-size: cover;
        z-index: 1;
    }

    .desktopnav {
        visibility: hidden;
        position: absolute;
    }

    .tabletnav {
        visibility: hidden;
        position: absolute;
    }

    h2 {
        z-index: 5;
    }

    .upcoming {
        display: flex;
        flex-direction: column;
    }

    .upcoming div:nth-child(2) {
        order: -1;
    }

    .squid {
        text-align: center;
    }

    .wireframe {
        text-align: center;
    }

    .code {
        text-align: center;
    }

    .tablet {
        display: none;
    }

    h1 {
        padding-bottom: 50px;
    }

    .desktop {
        display: none;
        position: absolute;
    }
}

/* Tablet Style */

@media (max-width: 768px) and (min-width: 576px) {

    .desktopnav {
        visibility: hidden;
        position: absolute;
    }

    .mobilenav {
        visibility: hidden;
        position: absolute;
    }

    .background {
        background-image: url(../images/pexels-tirachard-kumtanom-450055.jpg);
        background-size: cover;
        z-index: 1;
    }

    h1 {
        text-align: center;
        background-image: url(../images/pexels-adrien-olichon-2931286.jpg);
        padding-bottom: 65px;
        background-size: cover;
    }

    .logo {
        position: absolute;
    }

    .searchbtn {
        border-color: #F9A91F;
    }

    .dropdown-menu {
        right: 0;
        left: auto;
        width: 300px;
    }

    .squid {
        width: 100px;
    }

    .wireframe {
        width: 100px;
    }
    
    .codecontain {
        width: 275px;
    }

    .codeimg {
        width: 235px;
    }
    
    .desktop {
        display: none;
        position: absolute;
    }
}

/* Desktop Styles */

@media (min-width: 768px) {

    .tabletnav {
        visibility: hidden;
        position: absolute;
    }

    .mobilenav {
        visibility: hidden;
        position: absolute;
    }

    .desktopnav {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        text-align: center;
        background-image: url(../images/pexels-adrien-olichon-2931286.jpg);
        padding-bottom: 65px;
        background-size: cover;
    }

    .logo {
        position: absolute;
    }

    .background {
        background-image: url(../images/pexels-tirachard-kumtanom-450055.jpg);
        background-size: cover;
        z-index: 1;
    }

    .searchbtn {
        border-color: #F9A91F;
    }

    .dropdown-menu {
        right: 0;
        left: auto;
        width: 600px;
    }

    .searchbar {
        width: 550px;
    }

    .contacttext {
        width: 550px;
    }

    .send-message {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}